<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Dashboard</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
      <!-- Game Css -->
      <link rel="stylesheet" href="/css/game.css" />
      <!-- bootstrap JS -->
      <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    </head>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar'); %>

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Add History Data</h1>
          </div>

          <form method="POST" action="/history/post">
            <div class="mb-3">
              <label class="form-label">Game Id</label>
              <input type="number" name="gameId" min="1" class="form-control" />
            </div>

            <!-- <div class="mb-3">
              <label class="form-label">Score Player</label>
              <input type="number" name="scorePlay" min="10" max="500" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Score Computer</label>
              <input type="number" name="scoreComp" min="10" max="500" class="form-control" />
            </div> -->

            <button type="submit" class="btn btn-success">Saved</button>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
